.patient-collapsible {
    width: 100%;
}
  
.patient-content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #ffebcd; /* Blanched Almond */
}

th {
    background-color: #ff6347; /* Tomato */
    color: white;
}






