
<button class="button patient-collapsible" (click)="action()">
  {{ patient.firstName}} {{patient.lastName }}
  <button (click)="goToEditPatient()"> Update
  </button>
  <button (click)="deletePatient()"> Delete
  </button>
</button>

<div class="patient-content" [ngClass]="{'expanded' : expanded}">
  <div *ngFor="let sickness of sicknesses" class="patient-container">
  <p>
    {{ sickness.name}} <br>
    {{ sickness.startDate}}<br>
    {{ sickness.endDate}}<br>
    {{ sickness.symptoms}}<br>
    {{ sickness.commentsToTheDoctorsAppointment}}<br>
    {{ sickness.medicine}}<br>
  </p>
  </div>
  <br/>nowa linia<br/>

  <!-- new sickness button-->

  <br />


</div>


