
<button class="button patient-collapsible" (click)="action()">
  {{ patient.firstName}} {{patient.lastName }}
  <button class="button2" (click)="goToEditPatient()"> Update
  </button>
  <button class="button2" (click)="deletePatient()"> Delete
  </button>
</button>

<div class="patient-content" [ngClass]="{'expanded' : expanded}">
  <button class="button2" (click)="addSickness()"> Add new Sickness
  </button>
  <p>
    <table *ngIf="this.sicknesses.length > 0; else elseBlock">
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Symptoms</th>
        <th>Doctor appointment comments</th>
        <th>Medicine</th>
        <th>Action</th>
      </tr>
    <tr *ngFor="let sickness of sicknesses" >
      <td>{{ sickness.name}}</td>
      <td>{{ sickness.startDate}}</td>
      <td>{{ sickness.endDate}}</td>
      <td>{{ sickness.symptoms}}</td>
      <td>{{ sickness.commentsToTheDoctorsAppointment}}</td>
      <td>{{ sickness.medicine}}</td>
      <td>
        <button (click)="goToEditSickness(sickness)"> Update</button>
        <button (click)="deleteSickness(sickness)"> Delete</button>
      </td>
    </tr>
  </table>
  <ng-template #elseBlock>
    This patient has no sickenesses listed yet.
    <br>
  </ng-template>

  <!-- new sickness button-->

  <br />


</div>


